<h1 align="center">Welcome to my AMS Project</h1>


<app-navbar></app-navbar>

<!-- <footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer> -->




<!--h2>Le formateur est : {#{formateur}}</!--h2>
<h3>Le prix est : {{prix}}</h3>

<h4>La formation est en mode Hybride : {{estHybride}}</h4>
<h2>Le contenu de la formation :</h2>
<ul>
  <li *ngFor="let topic of bootcamp">{{topic|uppercase|topics}}</li>
</ul>

<app-home--><!--/app-home-->
